# IntelliJ stuff
workspace.xml
modules.xml
.idea/*
!.idea/.gitkeep 
out/*
!out/.gitkeep

# Vscode stuff.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc stuff
.DS_Store
